<app-sticky-footer></app-sticky-footer>
<div #footerDiv class="row p-3 px-md-5 bg-secondary">
  <!-- 1 -->
  <div class="col-md-3 mb-2">
    <div class="d-flex justify-content-center">
      <div class="box bg-light w-100 p-3">
        1
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="col-md-3 mb-2">
    <div class="d-flex justify-content-center">
      <div class="box bg-light  w-100 p-3">
        2
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="col-md-3 mb-2">
    <div class="d-flex justify-content-center">
      <div class="box bg-light w-100 p-3">
        3
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="col-md-3 mb-2">
    <div class="d-flex justify-content-center">
      <div class="box bg-light w-100 p-3">
        4
      </div>
    </div>
  </div>
  <!-- end -->
</div>
