<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggler)="sidenav.toggle()"></app-header>
  <div   class="container-fluid p-0 main-content" >
      <router-outlet></router-outlet>
  </div>
    <div class="container-fluid" style="margin-bottom: 56px;">
      <app-footer #footerDiv (footerValue)="onFooter($event)" ></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
