<mat-toolbar color="primary" class="fixed-bottom d-flex justify-content-around" >
  <!-- 1 -->
  <button mat-button class="d-flex flex-column justify-content-center align-items-center">
   <mat-icon class="m-0 p-0">home</mat-icon>
   <p class="icon-title p-0 m-0">home</p>
  </button>
  <!-- 2 -->
  <button mat-button class="d-flex flex-column justify-content-center align-items-center">
    <mat-icon class="m-0 p-0">cloud</mat-icon>
    <p class="icon-title p-0 m-0">cloud</p>
  </button>
  <!-- 3 -->
  <button mat-button class="d-flex flex-column justify-content-center align-items-center">
    <mat-icon class="m-0 p-0">poll</mat-icon>
    <p class="icon-title p-0 m-0">chart</p>
  </button>
  <!-- 4 -->
  <button mat-button class="d-flex flex-column justify-content-center align-items-center">
    <mat-icon class="m-0 p-0">notifications</mat-icon>
    <p class="icon-title p-0 m-0">notifications</p>
  </button>
  <!-- end -->
</mat-toolbar>
