<mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
<!-- carousel  -->
<app-carousel></app-carousel>
<!-- main -->
<div class="main-product bg-white d-flex">
 <!-- 1 -->
 <div class="h-100 p-1 bg-light shadow rounded mx-1">
  <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="p-0 m-0">
      <img class="main-card-image" src="../../assets//product/product1.jpg">
    </div>
    <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
  </div>
 </div>
  <!-- 2 -->
  <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 3 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 4 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 5 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 6 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 7 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 8 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 9 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 10 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 11 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 12 -->

   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 13 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
   <!-- 14 -->
   <div class="h-100 p-1 bg-light shadow rounded mx-1">
    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="p-0 m-0">
        <img class="main-card-image" src="../../favicon.ico">
      </div>
      <p class="p-0 p-1 m-0 product-title" >aadsdsaasdds</p>
    </div>
   </div>
</div>
